<h1 class="ui header">Music Hit Lists</h1>
<ul>
<%= link_to 'Add Board', new_board_path %>

    <% @boards.each do |b| %>
  <li>
    <%= b.genre %>
    <%= link_to 'View Board', board_path(b) %>
    <%= link_to 'Edit Board', edit_board_path(b) %>
    <%= link_to 'Delete Board', board_path(b), method: :delete %>
  </li>
    <% end %>
</ul>

